{% extends "layout.html" %}

{% block header %}
<h1 class="text-center">Query Directory</h1>
{% endblock %}

{% block content %}
    <ul class="list-group">
        <li class="list-group-item"><a href="{{ url_for('query_by_tags') }}">Search via tags</a></li>
        <li class="list-group-item"><a href="{{ url_for('query_by_thumbnail') }}">Search via thumbnail</a></li>
        <li class="list-group-item"><a href="{{ url_for('query_by_image') }}">Search via image</a></li>
        <li class="list-group-item"><a href="{{ url_for('query_edit_data') }}">Manually edit tags</a></li>
        <li class="list-group-item"><a href="{{ url_for('query_delete_data') }}">Delete Image</a></li>
    </ul>
{% endblock %}
