<!DOCTYPE html>
<html>
<head>
    <title>Register - PixTag</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Register</h1>
    <form method="post">
        <label>Email:</label><input type="email" name="email" required><br>
        <label>First Name:</label><input type="text" name="first_name" required><br>
        <label>Last Name:</label><input type="text" name="last_name" required><br>
        <label>Password:</label><input type="password" name="password" required><br>
        <input type="submit" value="Register">
    </form>
    <a href="{{ url_for('login') }}">Login</a>
</body>
</html>
