{% extends "layout.html" %}

{% block header %}
<h1 class="text-center">Search image</h1>
<p class="text-center .initialism">search for images by tags</p>
{% endblock %}

{% block content %}
<div class="row-1">
    <form method="post">
        <div class="form-group">
            <label for="searchViaTags">Tags (comma-seperated)</label>
            <input type="text" name="tags" class="form-control" id="searchViaTags"
                placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-primary">Query</button>
    </form>
</div>
<div class="row-2" id="results">
    <!-- Display query results here -->
     <h4 class="text-center">Results</h4>
    {% if data %}

        {% for url in data %}
            <div class="card">
                <img src="{{ url }}" class="card-img-top"></img>
                <div class="card-body">
                    {{ url}}
                </div>
            </div>
        {% endfor %}
    {% else %}
    <p class="text-center">No results found.</p>
    {% endif %}
</div>
{% endblock %}

