<!DOCTYPE html>
<html>

<head>
    <title>Delete Images - PixTag</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Delete Images</h1>
    <form method="post" action="" enctype="multipart/form-data">
        <label>Thumbnail URL</label>
        <p><input type="text" name="delete"></p>
        <p><input type="submit" value="Submit"></p>
    </form>
    <div id="results">
        <!-- Display query results here -->
        <h2>Results</h2>
        {% if data %}
        <ul>
            {% for url in data %}
            <li>{{ url }}</li>
            {% endfor %}

        </ul>
        {% else %}
        <p>No results found.</p>
        {% endif %}
    </div>
    <a href="{{ url_for('upload') }}">Upload Images</a>
    <a href="{{ url_for('query') }}">Query Directory</a>
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>

</html>